<!DOCTYPE html>
<html lang="en">

<head>
    <title>Homepage</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8"> <!-- character encoding -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINK CSS -->
    <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"
        defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
        rel="stylesheet">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,300&family=Open+Sans:wght@300;400&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>
        <div class="container title d-flex g-0">
            <a href="/homepage">
                <img src="/images/logo.jpg" class="img-fluid logo" alt="Online Shop">
            </a>
            <form class="d-flex flex-fill search-bar" role="search">
                <input class="form-control me-2" type="search" placeholder="Search for something..."
                    aria-label="Search">
                <a href="#" class="search-btn">
                    <i class="icon-magnifier"></i>
                </a>
            </form>
        </div>
    </header>

    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse container navbar-collapse p-0" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-capitalize">
                    <div class="btn-group">
                        <a href="/categories" class="btn btn-light  text-capitalize fw-bold">
                            categories
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <section class="page-container">
        <div class="container g-0">
            <%- body %>
        </div>
    </section>

    <footer>
        <div class="container px-0 py-4">
            <div class="row row-cols-4">
                <div class="col terms-and-conditions">
                    <h5 class="fw-bold text-dark text-capitalize mb-4">terms & conditions</h5>
                    <!-- Button trigger modal -->
                    <a href="#termsAndConditions" class="text-capitalize text-decoration-none text-dark"
                        data-bs-toggle="modal" data-bs-target="#termsAndConditions">terms & conditions</a>
                </div>
                <div class="col return-policy">
                    <h5 class="fw-bold text-dark text-capitalize mb-4">return policy</h5>
                    <a href="#returnPolicy" class="text-capitalize text-decoration-none text-dark"
                        data-bs-toggle="modal" data-bs-target="#returnPolicy">return policy</a>
                </div>
                <div class="col contact-us">
                    <h5 class="text-capitalize mb-4 fw-bold">contact us</h5>
                    <div>
                        <div class="d-flex">
                            <i class="icon-phone me-1"></i>
                            <p>
                                +40720000000
                            </p>
                        </div>
                        <div class="d-flex">
                            <i class="icon-envelope me-1"></i>
                            <p>
                                contact@onlineshop.com
                            </p>
                        </div>
                        <div class="d-flex">
                            <i class="icon-location-pin me-1"></i>
                            <p>
                                1234 NW Bobcat Lane, St. Robert, Norway
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col follow-us">
                    <div class="col contact-us">
                        <h5 class="text-capitalize mb-4 fw-bold">follow us</h5>
                        <div class="text-capitalize">
                            <div class="d-flex my-3">
                                <i class="icon-social-facebook me-2"></i>
                                <a href="#" class="text-decoration-none text-dark">facebook</a>
                            </div>
                            <div class="d-flex my-3">
                                <i class="icon-social-twitter me-2"></i>
                                <a href="#" class="text-decoration-none text-dark">twitter</a>
                            </div>
                            <div class="d-flex my-3">
                                <i class="icon-social-youtube me-2"></i>
                                <a href="#" class="text-decoration-none text-dark">youtube</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <!-- Terms and conditions Modal -->
    <div class="modal fade" id="termsAndConditions" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize" id="exampleModalLabel">terms &
                        conditions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>New version -updated on 29th of July 2022, effective as of 5th of August
                        2022<br>
                        PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY!<br>
                        Welcome to online.shop.<br>These Terms of Use describe the terms and conditions
                        applicable to your access and use of the websites, mobile sites, mobile
                        applications and other
                        portals owned,operated, branded or made available by online.shop.com (defined
                        below)
                        from time to time
                        which relate to the online.shop e-commerce platform including but not limited to
                        the
                        web and locator
                        “www.online.shop.com” and the mobile applications of the online.shop.com
                        e-commerce
                        platform (the “Sites”).  This document is a legally binding agreement between
                        you as the
                        user(s) of the Sites (referred to as “you”, “your” or “User” hereinafter) and
                        the online.shop.com contracting entity determined in accordance with clause 2.1
                        below
                        (referred to as “we”, “our” or “online.shop.com” hereinafter).<br>
                        1. Application and Acceptance of the Terms<br>
                        1.1 Your access to and use of the Sites and online.shop.com’s services, software
                        and
                        products through the Sites, which shall include the platforms described in
                        clause 7.1 of the
                        Terms (such
                        services, software and products collectively referred to as the “Services”
                        hereinafter)
                        is
                        subject to the terms and conditions contained in this document as well as the
                        Privacy
                        Policy(defined in clause 3.3 below), the Product Listing Policy and any other
                        rules and
                        policies
                        of the Sites that online.shop.com may publish from time to time.  This document
                        and
                        such
                        other rules
                        and policies of the Sites are collectively referred to below as the “Terms”. By
                        accessing and
                        use of the Sites and Services, you agree to accept and be bound by the Terms. 
                        Please do
                        not
                        access or use the Services or the Sites if you do not accept all of the Terms. 
                         <br>
                        1.2 You may not access or use the Services or the Sites and may not accept the
                        Terms if
                        (a) you
                        are not of legal age to form a binding contract with online.shop.com, or (b) you
                        are
                        not
                        permitted
                        to receive any Services under the laws of Hong Kong or other countries/regions
                        including
                        the
                        country/region in which you are resident or from which you access and use the
                        Services
                        and the
                        Sites.<br>
                        1.3 online.shop.com may amend any Terms at any time by posting the relevant
                        amended
                        and
                        restated
                        Terms on the Sites.  By continuing to access or use the Services or the Sites,
                        you agree
                        that
                        the amended and restated Terms will apply to you.<br>
                        1.4 If online.shop.com has posted or provided a translation of the English
                        language
                        version
                        of the
                        Terms, you agree that the translation is provided for convenience only and that
                        the
                        English
                        language version will govern your access to and use of the Services or the
                        Sites.  <br>
                        1.5 You may be required to enter into separate agreement(s), whether online or
                        offline,
                        with
                        online.shop.com or our affiliate for any Service (or features within the
                        Services)
                        (each an
                        “Additional Agreement”).  If there is any conflict or inconsistency between the
                        Terms
                        and an
                        Additional Agreement, the Additional Agreement shall take precedence over the
                        Terms only
                        in
                        relation to that Service (or feature within the Service) concerned.<br>
                        1.6 The Terms may not otherwise be modified except in writing by an authorized
                        officer
                        of
                        online.shop.com.   <br>
                        2. Provision of Services<br>
                        2.1  If you are a registered member of any of the Sites, and you are from
                        mainland
                        China, you
                        are contracting with Hangzhou online.shop Advertising Co., Ltd.
                        If you are a registered member of any of the Sites, and you are from Hong Kong
                        or Macau,
                        the
                        online.shop.com contracting entity that you are contracting with is
                        online.shop.com Hong
                        Kong
                        Limited. 
                        If you are a registered member of any of the Sites, and either (a) you are from
                        a place
                        outside
                        mainland China, Hong Kong, Macau; or (b) you access and use the online.shop
                        Sites
                        from any
                        of the
                        Relevant Jurisdictions, you are contracting with online.shop.com Singapore
                        E-Commerce
                        Private
                        Limited (incorporated in Singapore with Company Reg. No. 200720572D).   As some
                        or part
                        of the
                        Services may be supported and provided by affiliates of online.shop.com,
                        online.shop.com
                        may
                        delegate
                        some of the Services to its affiliates.
                         “Relevant Jurisdictions” shall mean the Russian Federation, Azerbaijan,
                        Armenia,
                        Belarus,
                        Georgia, Kazakhstan, Kyrgyzstan, Moldova, Turkmenistan, Tajikistan and
                        Uzbekistan.<br>
                        2.2 You must register as a member on the Sites in order to access and use some
                        Services.
                        Further, online.shop.com reserves the right, without prior notice, to restrict
                        access to or
                        use of
                        certain Services (or any features within the Services) to paying Users, or
                        subject to
                        other
                        conditions that online.shop.com may impose in our discretion.  <br>
                        2.3 Services (or any features within the Services) may vary for different
                        regions and
                        countries.
                        No warranty or representation is given that a particular Service or feature or
                        function
                        thereof
                        or the same type and extent of the Service or features and functions thereof
                        will be
                        available
                        for Users. online.shop.com may in our sole discretion limit, deny or create
                        different levels
                        of
                        access to and use of any Services (or any features within the Services) with
                        respect to
                        different Users.  <br>
                        2.4 online.shop.com may launch, change, upgrade, impose conditions to, suspend,
                        or
                        stop any
                        Services
                        (or any features within the Services) without prior notice except that in case
                        of a
                        fee-based
                        Service, such changes will not substantially adversely affect the ability of
                        such paying
                        Users
                        to enjoy that Service..<br>
                        2.5 Some Services (or part thereof) may be provided by online.shop.com’s
                        affiliates
                        on
                        behalf of
                        online.shop.com.<br>
                        2.6 Promotion Services provided by online.shop.com pursuant to the terms
                        hereunder
                        shall
                        include: 1)
                        Top Ranking and Sponsored Listing; 2) services that benefit, promote, support,
                        whether
                        directly
                        or indirectly, the business of User, the User’s brand, product, store, logo,
                        trademark,
                        service
                        mark, User Content (as defined in clause 3.7 of the Terms) and/or derivative
                        work using
                        the User
                        Content on software, applications, tools, browser extensions and/or platforms
                        operated
                        and/or
                        controlled by online.shop.com (“online.shop Channels”) and/or on software,
                        applications,
                        channels,
                        platforms, websites and/or any other forms of media that are operated and/or
                        controlled
                        by third
                        parties (“Third Party Channels”); and 3) any such other services as may be
                        announced by
                        online.shop.com from time to time.
                        online.shop.com shall be entitled to, at its sole discretion, determine whether
                        the
                        Promotion
                        Services or any part thereof will be available to you. 
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Return Policy Modal -->
    <div class="modal fade" id="returnPolicy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize fw-bold" id="exampleModalLabel">return
                        policy
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        We hope you love what you've ordered! But just in case you're not 100%
                        satisfied, we've made the return process super easy.
                        <br> <br>
                        <span class="fw-bold">How long do I have to make a return?</span>
                        <br>
                        We gladly accept returns within 30 days of receipt for most items in new
                        condition. (The return time frame for Belgium is 45 days from the date of
                        purchase.)
                        <br><br><span class="fw-bold">How will I get my refund？</span>
                        <br>
                        Your request will be processed within 5 business days after we receive your
                        return. <br>
                        Note: The original shipping fee and Handling fee are non-refundable. <br>
                        NOTE: If you have any issues with your return, you must contact Customer Support
                        within 90 days after your order was first placed.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>