<section id="categories">
    <div class="container g-0 text-capitalize">
        <div class="fw-bold d-flex">
            <h2 class="text-capitalize fw-bold mb-3 ps-0">categories</h2>
            <button type="button" class="btn btn-danger text-capitalize ms-4 mb-2" data-bs-toggle="modal"
                data-bs-target="#addNewCategory">
                add new category
            </button>
        </div>
        <hr>
        <div class="row row-cols-4 g-0">
            <% categories.forEach(category=> { %>
                <div class="col text-center category-title">
                    <div class="d-flex justify-content-center background-style mx-1 mt-4">
                        <a href="<%= `/category/${category._id}` %>"
                            class="list-group-item list-group-item-action fs-2 fw-bold my-3 relative-position">
                            <%= category.name %>
                                <span class="badge bg-primary rounded-pill p-0 fs-5 absolute-position">
                                    <%= category.productsNo %>
                                </span>
                        </a>

                    </div>
                </div>
                <% }) %>
        </div>
    </div>


    <!-- Add New Category Modal -->
    <div class="modal fade" id="addNewCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize fw-bold" id="exampleModalLabel">add new category
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/categories" method="post">
                        <label for="categoryNameInput" class="form-label text-capitalize mb-1 fw-bold">category
                            name</label>
                        <input required type="text" class="form-control text-capitalize" aria-label="Name" name="name"
                            id="categoryNameInput">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-capitalize"
                                data-bs-dismiss="modal">close</button>
                            <button type="submit" class="btn btn-primary text-capitalize">save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>